<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xdz.mapper.MgrLogMapper">

   <insert id="insert" parameterType="org.xdz.pojo.MgrLog">insert into mgr_log( log_url, admin_id, log_ctime)
values (#{url},#{id},now())</insert>

</mapper>
